body {
  color: #777777;
  background-image: url("/resources/images/body-bg.png");
  background-size: repeat;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  line-height: 26px;
  margin: 0% 5%;
  /* padding-top: 1%; */
}
.navbar,
.logo,
.nav-links,
.nav-links ul {
  display: flex;
  justify-content: flex-end;
}

.navbar,
.nav-links {
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: center; */
  align-items: center;
}

.hamburger {
  display: none;
  /* display: flex; */
  flex-direction: column;
}

.bar {
  background-color: #000;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

/* .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
  } */

.logo {
  width: 50%;
}

.logo img {
  height: 20%;
  margin-right: auto;
  width: 20%;
}

.nav-links {
  width: 50%;
}

.nav-links ul {
  display: flex;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  padding: 0.5% 10%;
}

.nav-links a {
  color: black;
  font: 700 16px/100px "Rubik", sans-serif;
  text-decoration: none;
  transition: all ease-in-out;
}

.nav-links a:hover {
  border-bottom: 2.5px solid #4458dc;
}

.nav-links .active {
  color: #4458dc;
}

.mobile-nav {
  display: none;
}

.get-cv-btn {
  border-radius: 5px;
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid rgba(118, 85, 225, 0.3);
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #222222;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  text-decoration: none;
  width: 140px;
}

.get-cv-btn:hover {
  border-radius: 5px;
  background-origin: border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #fff;
}

/* .about-me-left {
    height: auto;
} */

.about-me {
  display: grid;
  height: 33.75rem;
  grid-template-columns: 50% 50%;
  /* margin-bottom: 100%; */
}

/* .about-me-right {
    margin-top: 1%;
} */

.about-me-img {
  height: 60%;
  margin-left: 12%;
  transition: all 1s ease;
}

.about-me-img:hover {
  height: 70%;
}

.about-me-heading {
  color: black;
  font-size: 2.6rem;
  line-height: 1.15;
  text-align: left;
}

.about-me-heading p {
  text-align: justify;
}

.about-btn {
  margin-bottom: 10%;
}

.footer-section {
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 25%);
  /* height: 12rem; */
  justify-items: center;
  margin-top: 5%;
  /* text-align: center; */
}

.footer-section img {
  margin-left: 3.55%;
  height: 100%;
  margin-bottom: 1.45%;
}

.footer-section a {
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #4458dc;
  margin-left: 0.01%;
  transition: 0.5s ease;
}

.footer-section a:hover {
  font-size: 1.75rem;
  color: #01fff4;
  box-shadow: 0 0 #01fff4;
}

.footer-section p {
  margin-top: 1.55%;
  margin-left: 4%;
}

/* For screens larger than 1200px (ultra-large displays) */
/* @media (min-width: 1200px) {
} */

/* For screens between 992px and 1199px (large screens) */
@media screen and (min-width: 821px) and (max-width: 1024px) {
  .hamburger {
    display: none;
  }

  .about-me-right {
    margin-left: 12%;
  }

  .about-me-img {
    /* margin-right: 55%; */
    height: 50%;
  }

  .about-me-heading {
    font-size: xx-large;
  }

  .footer-section {
    margin-top: 15%;
  }
}

/* For screens between 768px and 991px (medium screens) */
@media (min-width: 768px) and (max-width: 820px) {
  /* Add your specific styles for medium screens here */
  .navbar {
    display: flex;
  }

  .logo {
    display: flex;
  }

  .hamburger {
    text-align: right;
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -150%;
    top: 1px;
    width: 142%;
    text-align: center;
    transition: 0.3s;
  }

  .mobile-links {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }

  .about-me {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    margin-top: 10%;
  }

  .about-me-heading,
  .about-me p {
    text-align: center;
  }

  .about-me-heading {
    margin-top: 15%;
  }
  .about-btn {
    margin-left: 38%;
    margin-top: 2%;
  }

  .about-me-img {
    /* display: grid; */
    margin-top: 5%;
    margin-left: 49%;
    margin-bottom: 1%;
    height: 50%;
  }

  .about-me-left {
    display: grid;
    margin-top: 0%;
    justify-content: left;
    width: 100%;
  }

  .footer-section {
    margin-top: 70%;
  }
}

/* For screens between 576px and 767px (small screens) */
@media (min-width: 425px) and (max-width: 767px) {
  /* Add your specific styles for small screens here */
  .navbar {
    display: flex;
  }

  .logo {
    display: flex;
    /* height: 100%; */
  }

  .hamburger {
    text-align: right;
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    left: -100%;
    top: 1px;
    /* padding: 0%;
      margin: 0%; */
    width: 100%;
    text-align: center;
    transition: 0.3s;
    /* z-index: 1; */
  }

  .nav-links ul li {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding-left: 0%;
    padding-right: 3.65%;
  }

  .mobile-links {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }

  .about-me {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 80%);
    margin-top: 5%;
  }

  .about-me-heading,
  .about-me p {
    text-align: center;
  }

  .about-me-heading {
    margin-top: 0%;
  }

  .about-btn {
    margin-left: 31%;
    margin-top: 2%;
  }

  .about-me-img {
    /* display: none; */
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    height: 45%;
  }

  .about-me-left {
    display: grid;
    margin-top: 0%;
    justify-content: left;
    width: 100%;
  }

  .about-me-right {
    display: grid;
    margin-top: 0%;
    margin-bottom: 100%;
  }

  .footer-section {
    margin-top: 150%;
  }
}
/* For screens up to 575px (iPhone SE and similar) */
@media (min-width: 280px) and (max-width: 424px) {
  /* Add your specific styles for iPhone SE-sized screens here */
  .navbar {
    display: flex;
  }

  .logo {
    display: flex;
    /* height: 100%; */
  }

  .hamburger {
    text-align: right;
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    left: -110%;
    top: 1px;
    /* padding-left: 3%; */
    /* padding-right: 1%; */
    /* margin: 0%; */
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-links ul li {
    font-size: 6px;
    padding-left: 1%;
    padding-right: 1%;
  }

  .mobile-links {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }

  .about-me {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 80%);
    height: 100px;
    margin-top: 0%;
  }

  .about-me-heading,
  .about-me p {
    text-align: center;
  }

  .about-btn {
    margin-left: 31%;
    margin-top: 2%;
  }

  .about-me-img {
    /* display: block; */
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 5%;
    height: 38%;
  }

  .about-me-left {
    display: grid;
    margin-top: 0%;
    justify-content: left;
    /* width: 100%; */
  }

  .about-me-right {
    margin-top: 59%;
    display: grid;
  }

  .footer-section {
    margin-top: 300%;
  }

  /* Example: Adjust the font size for better readability on smaller screens */
}
