body {
  color: #777777;
  background-image: url("/resources/images/body-bg.png");
  background-size: repeat;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  line-height: 26px;
  margin: 0% 5%;
  /* padding-top: 1%; */
}

.navbar,
.logo,
.nav-links,
.nav-links ul {
  display: flex;
  justify-content: flex-end;
}

.navbar,
.nav-links {
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: center; */
  align-items: center;
}

.logo {
  width: 50%;
}

.logo img {
  height: 20%;
  margin-right: auto;
  width: 20%;
}

.nav-links {
  width: 50%;
}

.nav-links ul {
  display: flex;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  padding: 0.5% 10%;
}

.nav-links a {
  color: black;
  font: 700 16px/100px "Rubik", sans-serif;
  text-decoration: none;
  transition: all ease-in-out;
}

.nav-links a:hover {
  border-bottom: 2.5px solid #4458dc;
}

.nav-links .active {
  color: #4458dc;
}

.header {
  display: grid;
  color: black;
  grid-template-columns: 60% 40%;
  height: 33.125rem;
}

.left-header {
  margin-top: 10%;
}

.header-hello {
  font-size: 2rem;
}

.header-name {
  font-size: 3.65rem;
}

.header-img {
  height: 55%;
  margin-top: 15%;
  transition: all 1s ease;
  /* width: 50%; */
}

.header-img:hover {
  height: 60%;
}

.hire-me-btn {
  border-radius: 5px;
  background-origin: border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #fff;
  display: inline-block;
  letter-spacing: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  outline: none !important;
  margin-right: 5%;
  text-align: center;
  text-decoration: none;
  width: 140px;
}

.hire-me-btn a {
  transition: all 0.3s ease-in-out;
}

.hire-me-btn:hover {
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid #854fee;
  color: #222222;
  box-shadow: none;
  background-clip: border-box;
}

.get-cv-btn {
  border-radius: 5px;
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid rgba(118, 85, 225, 0.3);
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #222222;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  text-decoration: none;
  width: 140px;
}

.get-cv-btn:hover {
  border-radius: 5px;
  background-origin: border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #fff;
}

.about-me {
  display: grid;
  height: 33.75rem;
  grid-template-columns: 50% 50%;
}

.about-me-img {
  height: 65%;
  margin-left: 12%;
  transition: all 1s ease;
}

.about-me-img:hover {
  height: 70%;
}

.about-me-heading {
  color: black;
  font-size: 2.6rem;
  line-height: 1.15;
}

.about-me-heading p {
  text-align: justify;
}

.skills-list {
  display: grid;
  /* height: 33.75rem; */
  grid-template-rows: repeat(1fr);
  margin-top: 10%;
}

.skills-list-heading {
  color: black;
  font-size: 2.6rem;
  text-align: center;
}

.skills-icons ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.skills-icons a {
  /* grid-template-rows: 1fr; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  padding: 5px;
  border-radius: 50%;
  font-size: 60px;
  color: #4458dc;
  transition: 0.5s ease;
}

.skills-icons a:hover {
  font-size: 50px;
  color: #01fff4;
  box-shadow: 0 0 #01fff4;
}

.services-heading {
  color: black;
  font-size: 2.6rem;
  margin-top: 13%;
  margin-bottom: 5%;
  text-align: center;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.services-section div {
  background-color: #f9f9fd;
  border-radius: 5%;
  margin: 0% 4%;
  padding: 6% 0;
  transition: all 0.4s cubic-bezier(0.93, -0.3, 1, 1) 0s;
}

.services-section div:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  background: #fff;
}

.gallery-section {
  margin-top: 12%;
  text-align: center;
}

#myBtnContainer {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  margin: 10px -16px;
  text-align: center;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  display: none;
  /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  background-color: #f9f9fd;
  padding: 6% 2%;
  transition: all 0.4s cubic-bezier(0.93, -0.3, 1, 1) 0s;
}

.content:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  background: #fff;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border-radius: 5px;
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid rgba(118, 85, 225, 0.3);
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #222222;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  text-decoration: none;
  padding-bottom: 4%;
  width: 140px;
}

.btn:hover {
  border-radius: 5px;
  background-origin: border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #fff;
}

.btn.active {
  background-color: #666;
  color: #222222;
}
